@media screen and (max-width: 430px){
    header{
        background-position: -720px;
    }
    .container-header h1{
        font-size: 2rem;
        text-align: start;
    }
    .container-header p{
        font-size: 10px;
    }
    .container-header h1, p{
        text-align: start;
        color: #ffffff;
    }
    .button-header{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        
    }
    .container-section{
        display: flex;
        flex-direction: column;
    }
    picture img{
        max-width: 100%;
        height: auto;
    }
    .descricao-section1 h2{
        font-size: 1.5rem;
    }
    .descricao-section1 p{
        font-size: .5rem;
    }

}
@media screen and (max-width: 1024px) {
    header{
        background-position: center;
    }
    .container-header h1{
        font-size: 4rem;
    }
    .container-header p{
        font-size: 1.6rem;
    }

    .section-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    picture img{
        max-width: 100%;
        height: auto;
    }
    .container-section h2{
        font-size: 2.5rem;
    }
    .container-section p{
        font-size: 2rem;
    }

    
}